<nav class="navbar navbar-expand navbar-light bg-light">
  <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item d-flex">
          <a class="nav-link active" aria-current="page" href="#" (click)="onClick('Upcoming')">Upcoming</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" href="#" (click)="onClick('Archived')">Archived</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link" href="#" (click)="onClick('All Time Fav')">All Time Favourite</a>
        </li>
      </ul>
    </div>
</nav>

<div class="container">
  <app-card-box></app-card-box>
  <app-tag-box></app-tag-box>
</div>